@using Microsoft.AspNetCore.Identity
@using adad.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    @if (SignInManager.IsSignedIn(User))
    {
        <a class="nav-link text-dark" href="/Portal/" >
            <img class="apple-logo-large" src="/img/apple.png" />
        </a>
    }
    else
    {
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
            <img class="apple-logo-large" src="/img/apple.png" />
        </a>

    }

    <h1 class="display-4">A.D.A.D.</h1>
    
    <p>Disaster Aversion Dashboard</p>
    
    <p>
        *THIS WORKING DEMO WEBSITE IS IN NO WAY AFILIATED WITH APPLE!
    </p>

    <div class="home-button-row">
        <div class="login-info-heading">Please feel free to use these demo accounts to explore the alerts pannel.</div>
        <p class="login-info-p"><span class="login-info-field">User: </span><span class="login-info-data">cs@magnadigi.com </span></p>
        <p class="login-info-p"><span class="login-info-field">Password: </span><span class="login-info-data">Success*1</span></p>
    </div>


    <div class="features-list">

            <p class="features-heading">
                PRIMARY FEATURES LIST
            </p>

        <div>
            <ul>
                <li>Sites list shows supplier sites obtained from Apple.com</li>
                <li>User-specific login</li>
                <li>Locally hosted .Net and MySql provide worldwide 24/7 access</li>                
                <li>Site list contains dynamic coordinate-based weather data</li>
                <li>Interactive map contains dynamic coordinate-based mapped locations</li>
                <li>Interactive map has pop-ups with dynamic razor page data and links that jump to individual sites in the list</li>
                <li>Persistent return to top navigational link added in the lower right corner.</li>
                <li>Users add a new sites</li>
                <li>Users may delete sites</li>
                <li>Users may edit sites</li>
                <li>Checkbox for enabling email notificataion added per account.</li>
                <li>
                    Alert emails sent through the internal module and triggered under specified events.
                    <ul>
                        <li>Temp over 100 degrees Fahrenheit</li>
                        <li>Temp under freezing</li>
                        <li>Hurricane wind speed of over 72mph</li>
                    </ul>
                </li>
                <li>Alert status is also dynamically shown for each site in the site list</li>
                <li>Weather conditions are shown in drill-down pop-up modals when sites are clicked in the site list.</li>
                <li>Weather data obtained at one-hour intervals from an online weather API (<a href="https://api.open-meteo.com/">https://api.open-meteo.com/</a>)</li>
                <li>Map geospatial UI provided by the free Google Maps API based on user coordinate inputs.</li>
                <li>UI/UX is displayed in an intuitive and accessible manner. (Alt tags were out of scope but can be added easily)</li>
                <li>SSL/TLS enabled for secure password and data transfer between node</li>
            </ul>
        </div>

    </div>
</div>

